{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier AdminEsprit{% endblock %}

{% block body %}
    <h1>Modifier AdminEsprit</h1>

    {{ include('admin_esprit/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
