{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier EtudiantEsprit{% endblock %}

{% block body %}
    <h1>Modifier EtudiantEsprit</h1>

    {{ include('etudiant_esprit/_form.html.twig', {'button_label': 'Modifier'}) }}
    <a href="{{ path('app_etudiant_esprit_index') }}" class="btn btn-secondary" style=" margin-top: 10px">Retour</a>

{% endblock %}
