{% extends 'admin/admin.html.twig' %}

{% block title %}New EtudiantEsprit{% endblock %}

{% block body %}
    <h1>Create new EtudiantEsprit</h1>

    {{ include('etudiant_esprit/_formadd.html.twig') }}

 
{% endblock %}
