{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier AdminFac{% endblock %}

{% block body %}
    <h1>Modifier AdminFac</h1>
   

   
    {{ include('admin_fac/_form.html.twig', {'button_label': 'Modifier'}) }}


    
{% endblock %}
