{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier Candidat{% endblock %}

{% block body %}
    <h1>Modifier Candidat</h1>

    {{ include('candidature/_form.html.twig', {'button_label': 'Modifier'}) }}

  
{% endblock %}
