{% extends 'admin/admin.html.twig' %}

{% block title %}Nouveau Candidat{% endblock %}

{% block body %}
    <h1>Créer un nouveau Candidature</h1>

    {{ include('candidature/_formadd.html.twig') }}

  
{% endblock %}
