{% extends 'admin/admin.html.twig' %}

{% block title %}Modifier Opportinute{% endblock %}

{% block body %}
    <h1>Modifier Opportinute</h1>

    {{ include('opportinute/_form.html.twig', {'button_label': 'Update'}) }}



{% endblock %}
