{% extends 'admin/admin.html.twig' %}

{% block title %}Nouvelle Opportinute{% endblock %}

{% block body %}
    <h1>Créer une Nouvelle Opportinuté</h1>

    {{ include('opportinute/_formadd.html.twig') }}

 
{% endblock %}
